<div id="<%= dom_id map %>">
  <p>
    <strong>住所:</strong>
    <%= map.display_address %>
  </p>

  <p>
    <strong>緯度:</strong>
    <%= map.latitude %>
  </p>

  <p>
    <strong>経度:</strong>
    <%= map.longitude %>
  </p>

</div>
